/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require bootstrap-datetimepicker
 */

html, body{
  background-color:#E8EEF7;
  height: 100%;
  margin-top: 40px;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif !important;
  height: 100%;
}

#filters {
  border-radius: 2px;
  box-shadow: 0px 1px 0px #CCC;
  border: 1px solid #CCC;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  padding-left: 10px;
}

#filters_container {
  margin-left: 20px;
  height: 84%;
  width: 19%;
  float: left;
}

#filter_title {
  background-color: #E5E5E5;
  margin-right: 15px;
  border-radius: 1px;
}

#filters li {
  margin-left: 10px;
  margin-right: 15px;
  list-style: none;
}

#filters ul { border-bottom: 1px solid #CCC }

.right_hand_box {
  box-shadow: 0px  1px 0px #CCC;
  border-radius: 2px;
  background-color:#fff;
  border:1px solid #CCC;
  width:19%;
  height:40%;
  float:right;
  margin-top:5px;
  margin-bottom:0px;
  padding:6px;
  display:block;
  clear: right;
}

#button {
  margin-left: auto;
  margin-right: auto;
  width: 65px;
}

#calendar {
  width: 57%;
  float:left;
  margin-left:25px;
}

#start_time {
  width:48%;

  height:auto;

  margin-top:10px;

  margin-left:2%;

  display:inline-block;

  float:left;

}

#duration {
  width:48%;

  height:auto;

  margin-top:10px;

  margin-right:2%;

  display:inline-block;

  float:left;
  margin-bottom: 10px;
}


#event {

  background: #ffffff; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

  background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */

  background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */

  border:1px solid #CCC;

  margin-left:auto;

  margin-right:auto;

  width:90%;

  border-radius:2px;

}

#event h4, h2, h5{

  margin-right:15px;

  margin-left:15px;

}

#left{

  border-radius:3px;

  margin-left:auto;

  margin-right:auto;

  width:95%;

  background-color:#E8EEF7;

  text-align:left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;

  border-top:1px solid #CCC;

  border-bottom:1px solid #CCC;

  box-shadow: 1px 1px 1px #CCC;

}

#start_time, #duration {
  border-bottom:1px solid #CCC;

  border-top:1px solid #CCC;

} 

#details {
  box-shadow: 1px 1px 1px #CCC;

  padding-top:0.1px !important;

  padding-bottom:50px !important;

  border-radius:3px;

  margin-left:auto;

  margin-right:auto;

  background-color:#E8EEF7;
  text-align:left;
  width:95%;
  clear: both;
  padding-left: 15px;
}

#details label {
  font-weight: bold;
}

#details h4 {
  padding-top: 10px;
  margin-left: 0;
}


.hbutton {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

#new_event_button { float: right }

.filter {
  padding-bottom: 15px;
}
